.popup__container {
   max-width: 430px;
   max-height: 330px;
   background-color: #ffffff;
   border-radius: 15px;
}

@media (max-width: 600px) {
   .popup__container {
      max-width: 282px;
      max-height: 322px;
   }
}