.user-data-form__save-button {
   width: 358px;
   height: 50px;
   background-color: #000000;
   margin: 19px 36px 37px 36px;
   cursor: pointer;
   border-radius: 2px;
   transition: opacity 0.2s ease-in;
   padding: 0;
}

.user-data-form__save-button:hover {
   opacity: 0.8;
}

@media (max-width: 600px) {
   .user-data-form__save-button {
      width: 238px;
      height: 46px;
      margin: 36px 30px 74px 22px;
   }
}