.user-data-form__name {
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 17px;
   border: none;
   margin: 0 0 0 33px;
}

@media (max-width: 600px) {
   .user-data-form__name {
      margin: 0 0 0 20px;
   }
}